.description {
    max-width: 690px;
    /* margin: auto; */

    grid-column: 3;
}

@media screen and (max-width: 1279px) {
    .description{
        grid-column: 2;
    }
}

@media screen and (max-width: 1023px) {
    .description{
        grid-column: 2;
        max-width: 720px;
        margin: auto;
    }
}