.page {
    max-width: 1280px;
    font-family: 'Inter','Helvetica', Arial, sans-serif;
    padding: 28px 0 24px;
    margin: 0 auto;
    background-color: #2a2c2f;

    display: grid;
    grid-template-columns: 48px 100px 984px 100px 48px;
    /* grid-template-columns: 1fr 2fr 20fr 2fr 1fr; */
    grid-template-rows: auto;
    row-gap: 92px;
}

@media screen and (max-width: 1279px) {
    .page{
        /* grid-template-columns: 1fr 20fr 1fr; */
        grid-template-columns: 48px minmax(928px, 1184px) 48px;
    }
}

@media screen and (max-width: 1023px) {
    .page{
        grid-template-columns: minmax(24px, 48px) minmax(720px, 928px) minmax(24px, 48px);
    }
}

@media screen and (max-width: 767px) {
    .page{
        grid-template-columns: minmax(16px, 23px) minmax(288px, 719px) minmax(16px, 23px);
        row-gap: 64px;
    }
}