.page {
    max-width: 1280px;
    font-family: 'Inter','Helvetica', Arial, sans-serif;
    padding: 28px 0 24px;
    margin: 0 auto;
    background-color: #2a2c2f;

    display: grid;
    grid-template-columns: 48px 100px 984px 100px 48px;
    grid-template-rows: auto;
    row-gap: 92px;
}