.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1184px;
    grid-column: 2/5;
    gap: 16px
}

@media screen and (max-width: 1279px) {
    .gallery{
        grid-column: 2;
        justify-content: center;
    }
}