.conclusion {
    grid-column: 2/5;
    min-height: 740px;    
}

@media screen and (max-width: 1279px) {
    .conclusion {        
        grid-column: 1/4;
        min-height: calc(100vw / 1.6);
    }
}