.footer__author {
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: white;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 676px) {
    .footer__author {        
        position: relative;
        padding-top: 16px;
    }
}