.header__language-link {    
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.header__language-link:hover {
    color: #ffffffcc;
}

@media screen and (max-width: 767px) {
    .header__language-link {
        font-size: 18px;
        line-height: 20px;
    }
}