.final__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: white;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
    padding-top: 32px;
}

@media screen and (max-width: 767px) {
    .final__text {
        font-size: 14px;
        padding-top: 16px;
    }
}