.places-container {
    grid-column: 3;    
}

@media screen and (max-width: 1279px) {
    .places-container {
        grid-column: 2;
    }
}

@media screen and (max-width: 676px) {
    .places-container {
        grid-column: 1/4;
    }
}