.place__url-mark {
    margin: 0;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 1.7;
    color: #AAA;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media screen and (max-width: 320px) {
    .place__url-mark {
        line-height: 12px;
    }
}