.place {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    row-gap: 48px;
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place {
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 16px 1fr 16px;        
        row-gap: 32px;
        padding-bottom: 50px;
    }
}
