.main-content {
    display: grid;
    grid-template-columns: 48px 100px 984px 100px 48px;
    row-gap: 92px;

    grid-column: 1/6;
}

@media screen and (max-width: 1279px) {
    .main-content {        
        grid-template-columns: 48px minmax(928px, 1184px) 48px;
    }
}

@media screen and (max-width: 1023px) {
    .main-content {
        grid-template-columns: minmax(24px, 48px) minmax(720px, 928px) minmax(24px, 48px);
        row-gap: 88px;
    }
}

@media screen and (max-width: 767px) {
    .main-content {
        grid-template-columns: minmax(16px, 23px) minmax(288px, 719px) minmax(16px, 23px);
        row-gap: 64px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        grid-template-columns: 16px 288px 16px;
        row-gap: 64px;
    }
}